@media (min-width: 775px) and (max-width: 1180px) {
  #sub-title {
    font-size: medium;
  }

  .boxes_align_container {
    margin-left: 2rem;
    padding-bottom: 0%;
  }
  .work_box_container {
    display: block;
  }
  .sub_box_container {
    justify-content: left;
  }
  .heading_work {
    padding-left: 1rem;
  }
  .verticalbox_align_contianer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0%;
  }
  .im_b1_1 {
    width: 453px;
    background-size: cover;
    margin-left: 5rem;
  }
  .b_2 {
    width: 500px;
    height: 500px;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    line-height: 1rem;
  }

  #vb_1 {
    width: 340px;
    margin-left: 2rem;
  }
  #vb_2 {
    margin-left: 0.6rem;
  }
  #vb_3 {
    margin-left: 2rem;
  }
  #vb_4 {
    margin-left: 0.6rem;
  }

  .page_align_container {
    gap: 0rem;
  }

  .im_b_1 {
    width: 540px;
    background-size: cover;
    margin-left: 2rem;
  }

  .skill_page_container {
    display: block;
  }

  .contact_box_align_container {
    height: 100%;
    margin-top: 5rem;
    margin-left: 3rem;
    font-family: "Outfit", sans-serif;
    display: flex;
  }

  .contact_box_or_container {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 20rem;
  }
  .verticalbox_align_contianer {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 799px) {
  #sub_title {
    font-weight: 300;
    letter-spacing: 0.01vw;
    font-family: "Outfit", sans-serif;
    text-align: left;
    font-size: 1rem;
  }

  #small_box_1 {
    width: 340px;
    height: 180px;
    border-radius: 20px;
    background-image: url(images/Agency_design.webp);
    background-size: cover;
    margin-top: 2rem;
  }

  image_me {
    width: 323px;
    height: 197px;
    margin-top: 14rem;
    opacity: 0;
    background-image: url(Dumy.jpg);
    background-size: cover;
    opacity: 0;
    transition: opacity 2s ease-out;
  }

  .About_section_container {
    width: 399px;
    display: block;
    margin-top: 12rem;
  }

  .title_about {
    font-weight: 300;
    font-size: 3rem;
    font-family: "Outfit", sans-serif;
    margin-top: 5rem;
    color: #b09b39;
  }

  .Working_section_container {
    width: 100%;
    height: 100%;
    margin-top: 30rem;
  }

  .Title {
    font-size: 3rem;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    text-align: left;
  }

  .about_info_box {
    width: auto;
    margin-left: 0%;
  }

  .heading_work {
    height: 100px;
    display: flex;
    padding-left: 1rem;
  }

  .Working_section_box_align{
    width: 100%;
  }

  .boxes_align_container {
    margin-left: 0rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  #box_1 {
    margin-left: 1rem;
    width: 373px;
    height: 206px;
    border-radius: 20px;
  }

  .sub_box_container {
    margin-left: 2rem;
    display: block;
  }

  .work_box_container {
    display: block;
  }

  .verticalbox_align_contianer {
    display: none;
  }

  .skill_page_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 31rem;
    margin-bottom: 5rem;
  }

  .page_align_container {
    display: block;
  }

  .im_b_1 {
    width: 267px;
    background-size: cover;
  }

  .b_2 {
    width: 100%;
    height: 500px;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    line-height: 1rem;
    padding-top: 2rem;
  }

  .contact_box_align_container {
    height: 100%;
    margin-top: 5rem;
    margin-left: 2rem;
    font-family: "Outfit", sans-serif;
    display: flex;
  }

  .image_me {
    width: auto;
  }

  #small_box_2 {
    width: 340px;
    height: 180px;
    border-radius: 20px;
    background-image: url(images/shoe_brand.webp);
    background-size: cover;
    margin-top: 1.2rem;
  }
  .para_container_box {
    width: 100%;
    margin-top: 3rem;
    padding-left: 0.5rem;
  }

  #about_me_para {
    width: 100%;
  }
  .t1:hover{
    scale: 1.1;
  }

  .expand {
    animation: transite 1s ease forwards;
  }
  
  
  
  @keyframes transite {
    0% {
      width: 0%;
      height: 0%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    100% {
      width: 100%;
      height: 100%;
      border-top-right-radius: 0%;
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%;
    }
  }
}
